streamlit>=1.32.0

# LangChain
langchain>=0.1.14
langchain-community>=0.0.26

# Vector store and embeddings
faiss-cpu>=1.7.4
sentence-transformers>=2.2.2
huggingface-hub>=0.22.2

# Transformers & tokenizer
transformers==4.40.1

# File loaders
pypdf>=3.17.4
pandas>=2.2.1

# Utilities
tqdm>=4.66.4
numpy>=1.26.4
scikit-learn>=1.4.2
requests>=2.31.0
